<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Vedio</div>
           
            <div class="card-body">
                <button #adBtn class="btn btn-primary">Add</button>
        </div>
    </div>
    
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-header">list</div>
       
        <div class="card-body">
            <ul id="elContainer">
                
            </ul>
            <ul>
                <li>
                    <a routerLink="interval">Interval</a>
                </li>
            </ul>
    </div>
</div>

</div>
</div>