<div class="row">
    <div class="col-md-12">
        <ul class="text-primary">
            <li class="text-primary">
                <a routerLink="from-event">from event</a>
            </li>
            <li>
                <a routerLink="from-event">from event</a>
                
            </li>
            <li>
                <a routerLink="from-event">from event</a>
            </li>
        </ul>
        <button #dilipBtn class="btn btn-primary">Addbtn</button>
        <button #prabinBtn class="btn btn-primary">PrabinButton</button>
    </div>
    <div class="row">
        <div class="card" style="margin: 50px;">
            <div class="card-header">
                DilipChiled
            </div>
            <div class="card-body">
                <ul id="dilipContainer">

                </ul>
            </div>
        </div>
       <div class="card">
           <div class="card-header">
               PrabinChild
           </div>
           <div class="card-body">
               <ul id="prabinContainer">

               </ul>
           </div>
       </div> 
    </div>
</div>