<p>interval works!</p>
{{obsMsg}}
<br>
<br>
<div class="row">
    <div clas="col md-4">
        <div class="card">
            <div class="card-header">
                User1
            </div>
            <div class="card-body">
                <ul id="elContainer"></ul>
            </div>
        </div>
    </div>
    <div clas="col md-4">
        <div class="card">
            <div class="card-header">
                User1
            </div>
            <div class="card-body">
                <ul id="elContainer1"></ul>
            </div>
        </div>
    </div>
    <div clas="col md-4">
        <div class="card">
            <div class="card-header">
                User1
            </div>
            <div class="card-body">
                <ul id="elContainer2"></ul>
            </div>
        </div>
    </div>
</div>